* {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
	background-color: #C3E7EE;
}
section {
	overflow: hidden;
}

/* font styling */

h1 {
	font-family: montserrat;
	font-weight: 700;
	font-size: 29px;
	margin-bottom: 3%;
}
	h1 span {
		color: #6B88C5;
		font-size: 32px; 
	}

p {
	font-family: "carrois gothic";
	font-size: 14px;
	line-height: 22px;
	margin: 20px 0;

}
.text-border {
		margin: 10% 0;
		border-top: 1px solid #D3D3D3;
		border-bottom: 1px solid #D3D3D3;
		text-align: justify;
	}

/* intro section styling */

.intro_container{
	margin-left: 100px;
	padding-bottom: 10px;
	z-index: 100;
	background-color: white;
	padding: 5% 1%;
	width: 250px;
	box-shadow: 0px 0px 5px grey;
	position: relative;
}

.postalcode {
	display: block;
	margin: 0 auto;
	width: 228px;
	position: relative;
}

.postalcode_text {
	border: 2px solid #D3D3D3;
	padding: 4%;
	background-color: #F4F4F4;
}

.postalcode_btn{
	background-color: #6B88C5;
	border: 2px solid #696BCB;
	padding: 0 5%;
	position: absolute;
	color: white;
	font-family: cabin;
	font-size: 26px;
	cursor: pointer;
}

/* map styling */

#map {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	top: 0;
}
/* slider styling */

#slider {
    position: absolute;
    right: 100px;
    top: 0;
    width: 150px;
    padding: 1%;
    background-color: #FFFFFF;
	box-shadow: 0px 0px 5px grey;
}

#slider input {
	-webkit-appearance: slider-vertical;
}

.slider_output {
    margin: 0;
    position: absolute;
    top: 154px;
    right: 47px;
    color: #000000;
    font-size: 20px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 36px;
  width: 100px;
  padding: 5%;
  border-radius: 3px;
  background: #B2B2B2;
  cursor: pointer;
  margin-left: -8px;
  box-shadow: 1px 1px 5px grey; /* Add cool effects to your sliders! */
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 9px;
    background: #6B88C5;
    border: none;
    border-radius: 5px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
	position: relative;
	left: 4px;
  outline: none;
}

.postalcode_text:focus {
	outline: none;
}

button:focus {
    outline: none;
    background-color: #324F8A;
}

input[type=range]:active::-webkit-slider-thumb {
	outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #6B88C5;
}

.buttons {
	position: absolute;
	overflow: hidden;
	text-align: center;
	z-index: 11111111111111;
	top: 50px;
  left: 410px;
  padding: 10px;
}

.buttons.boxed {
  background: #ffffff;
  box-shadow: 0px 0px 5px grey;
}

.buttons button {
    text-align: center;
    display: block;
    background-color: #6B88C5;
    border: 2px solid #696BCB;
    padding: 0 5px;
    color: white;
    font-family: cabin;
    font-size: 14px;
    margin: 10px auto;
    cursor: pointer;
}

.buttons button:last-of-type {
	margin: 0 5px;
}

#tooltip{
	font-family: "carrois gothic";
	background-color: white;
	padding: 10px;
	box-shadow: 0px 0px 5px grey;
}

#extraInfo {
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 25px 50px;
	font-family: "carrois gothic";
	box-shadow: 0px 0px 5px grey;
	opacity: 0;
	min-width: 300px;
}

#extraInfo p {
	margin: 0;
}

#extraInfo.selected {
	opacity: 1;
	-webkit-transition: opacity .3s ease;
	transition: opacity .3s ease;
}

#streetview {
	display: none;
	width: 100%;
	height: 100%;
	background: url("../img/3445xk-buurt.jpg");
	background-size: cover;
	position: absolute;
	z-index: 50;
	font-size: 40px;
	color: #F14628;
}

#streetview i {
	left: 50%;
  top: 40%;
  position: absolute;
  cursor: pointer;
  text-shadow: 1px 1px 4px rgba(0,0,0, 0.7);
}

#streetview #closeup{
	position: absolute;
	background-color:rgba(0, 0, 0, 0.5);
	display: none;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

#streetview #closeup figure {
	width: 600px;
	left: 52%;
	top: 40%;
	position: absolute;
	z-index: 1000;
	border: 3px solid white;
	box-shadow: 0px 0px 5px black;
	cursor: default;
}

#streetview #closeup figure img {
	width: 600px;
}
/*	Deze stijlen niet veranderen!*/

svg {
	margin-left: 30%;
	margin-top: 20px;
}

svg:first-of-type {
	position: absolute;
	z-index: 2;
}

svg:last-of-type {
	position: absolute;
	z-index: 0;
}

#map {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#overlay, #overlay_sat {
	position: absolute;
    top: 12px;
    left: -23px;
    height: auto;
    pointer-events: none;
    z-index: 1;
	margin-left: 30%;
	margin-top: 20px;
}

#overlay_sat {
	top: 3px;
    left: 11px;
	opacity: 0.4;
}

.legenda {
    text-align: center;
}

#slide {
    display: inherit;
    margin: 0 auto;
    text-align: center;
}

/* Comparison */
.cd-image-container {
  position: relative;
  width: 90%;
  max-width: 768px;
  margin: 0em auto;
}
.cd-image-container img {
  display: block;
}

.cd-resize-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
}
.cd-resize-img img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: auto;
  max-width: none;
}
.cd-resize-img .cd-image-label {
  right: auto;
  left: 0;
}
.is-visible .cd-resize-img {
  width: 50%;
  -webkit-animation: cd-bounce-in 0.7s;
  -moz-animation: cd-bounce-in 0.7s;
  animation: cd-bounce-in 0.7s;
}

@-webkit-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
@-moz-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
@keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
.cd-handle {
  position: absolute;
  height: 44px;
  width: 44px;
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border-radius: 50%;
  background: #6B88C5;
  cursor: move;
  box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(0);
  -moz-transform: translate3d(0, 0, 0) scale(0);
  -ms-transform: translate3d(0, 0, 0) scale(0);
  -o-transform: translate3d(0, 0, 0) scale(0);
  transform: translate3d(0, 0, 0) scale(0);
}

.is-visible .cd-handle {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0s 0.7s;
}

.cd-image-label {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #ffffff;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
}

.cd-image-label.is-hidden {
  visibility: hidden;
}
.is-visible .cd-image-label {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.cd-resize-img .cd-image-label {
  right: auto;
  left: 0;
  font-family: "carrois gothic";
  font-size: 14px;
  line-height: 22px;
}
